<<<<<<< HEAD
.font{
    font-size: 20px;
    color: red;
}
.page{
    background-color: black;
}
.action-bar{
    background-color: green;
    color: white;
}
=======
.font{
    font-size: 20px;
    color: red;
}
.page{
    background-color: black;
}
.action-bar{
    background-color: green;
    color: white;
}
>>>>>>> 37bf39f6a15c16c7c7ad440c6acbc1676e660e69
